.container {
  margin: 50px auto;
  justify-content: space-around;
}

.visual {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  font-style: italic;
}

.image {
  width: 800px;
  margin: 10px;
}
