.footer {
  display: flexbox;
  flex-direction: column;
  background: #f4f3f0;
  padding: 20px 0 20px 30px;
  margin-top: 30px;
  position: relative;
  color: #333;
  font-size: 13px;
}

.header {
  margin: 30px 50px;
}

.social {
  display: flex;
  justify-content: right;
  margin: 0 50px;
}

.icon {
  margin: 0 10px;
}
