.cart {
  justify-content: space-around;
  align-items: flex-start;
  margin: 50px 300px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.row-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cart-total {
  margin-bottom: 50px;
}

.flex-flex-col-gap-5 {
  flex-direction: column;
  display: flex;
  gap: 10px;
}
